data_factory/pipeline/Increm_data_pipeline.json
{
	"name": "Increm_data_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy increm data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Current load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM source_car_data WHERE Date_ID > '@{activity('Last load').output.firstRow.last_load}' AND Date_ID <= '@{activity('Current load').output.firstRow.max_date_id}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Revenue",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Revenue",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Units_Sold",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Units_Sold",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Day",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Day",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Month",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Year",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Product_Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Product_Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "azure_sql_src",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_car_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "automotive_adls_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Last load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from water_table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azure_sql_src",
						"type": "DatasetReference",
						"parameters": {
							"table_name": " water_table"
						}
					}
				}
			},
			{
				"name": "Current load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(Date_ID) AS max_date_id from source_car_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azure_sql_src",
						"type": "DatasetReference",
						"parameters": {
							"table_name": " source_car_data"
						}
					}
				}
			},
			{
				"name": "Watermark Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy increm data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateWatermarkTable]",
					"storedProcedureParameters": {
						"lastLoad": {
							"value": {
								"value": "@activity('Current load').output.firstRow.max_date_id",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-20T04:07:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}